.dartimg{
    width: 56.3%;
    float: right;
    border: 4px solid black ;
    margin-top: 4%;
    
}
.dart{
    width: 40%; 
   margin-left: 9%;
  margin-top: 4%;
   
    
}
.dartimg2{
    width: 86.7%;
    border: 3px solid black ;
}
.dartimg1{
    width: 86.7%;
    border: 3px solid black ;
}

.parg{
    font-size: large;
    padding-top: 5%;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;

}
main div h1{
    font-size: x-large;
    text-align: center;
    padding-top: 2%;
    border-bottom: 3px ridge #07A49A;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 5px 5px #CE2E7D;
color: #240505;


}
