.m1{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m2{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m3{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m4{
    width:70%;
    height:70%;  
    margin-left: 10%;

}
.m5{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m6{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m7{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m8{
    width:70%;
    height:70%; 
    margin-left: 10%;
}
.m9{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m10{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m11{
    width:70%;
    height:50%; 
    margin-left: 10%;
}
.m12{
    width:70%;
    height:50%; 
    margin-left: 10%;
   
}
.balfhm{
    text-align: right;
    color: rgba(255,255,255,.3);
background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
padding-bottom: 1%;
padding-top: 1%;
}
main div div img{
    margin-top: 3%;
}
