video{
margin: 1% 2%;
border:2px solid black;

}
main div iframe{
    margin: 5% 12%;
    width: 900px;
    height : 500px;

}

table{
    border: 3px solid black ;
}
td{
    border: 3px solid black ;
}




@media screen and (max-width: 600px) {

main div button{
    display: none;
} 



video{


display: flex;

}


main div iframe{
    margin: 3% auto;
    width: 324px;
    height: 250px;

}
.videow{
text-align: right;
color: rgba(255,255,255,.3);
background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
padding-bottom: 1%;
padding-top: 1%;
}


}
