.hist{
    position: relative; 
    margin-top: 5%;
    padding-top: 5%;
    text-align: right;

}
.nav-pills {
        top: 20px;
        position: relative;
      }
.col-8 div {
        height: 200px;
        padding-left: 3%;
        padding-right: 3%;
      }
